<div class="task-card" cdkDrag [cdkDragData]="task()">
  <span class="task-title">{{ task()!.title }}</span>

  <div class="task-actions">
    <button type="button" class="btn-icon ver" (click)="taskDetails.emit()">Ver</button>
    <button class="btn-icon edit" type="button" (click)="editTask.emit()">✏️</button>
    <button class="btn-icon delete" type="button" (click)="onDelete()" title="Remover tarefa">
      🗑️
    </button>
  </div>

  <div cdkDragPlaceholder class="custom-placeholder"></div>
</div>
