<div>
  <app-task-modal
    [open]="showModal()"
    [mode]="editingTask() ? 'edit' : 'create'"
    [task]="editingTask()"
    (saveTask)="editingTask() ? editTask($event) : createTask($event)"
    (cancel)="closeModal()"
  ></app-task-modal>
  <button (click)="openModal()">Adicionar Task</button>
  <div cdkDropListGroup class="board">
    <div
      cdkDropList
      [cdkDropListData]="taskService.backlogTasks()"
      (cdkDropListDropped)="drop($event, 'Backlog')"
      class="col"
    >
      <h3>Backlog</h3>
      @for (backlogTask of taskService.backlogTasks(); track backlogTask.id) {
        <label cdkDrag [cdkDragData]="backlogTask">{{ backlogTask.title }}</label>
        <button type="button" (click)="openEditModal(backlogTask)">✏️</button>
      }
    </div>
    <div
      cdkDropList
      [cdkDropListData]="taskService.inProgressTasks()"
      (cdkDropListDropped)="drop($event, 'Em andamento')"
      class="col"
    >
      <h3>Em andamento</h3>
      @for (inProgressTask of taskService.inProgressTasks(); track inProgressTask.id) {
        <label cdkDrag [cdkDragData]="inProgressTask">{{ inProgressTask.title }}</label>
        <button type="button" (click)="openEditModal(inProgressTask)">✏️</button>
      }
    </div>

    <div
      cdkDropList
      [cdkDropListData]="taskService.reviewTasks()"
      (cdkDropListDropped)="drop($event, 'Em revisão')"
      class="col"
    >
      <h3>Revisão</h3>
      @for (reviewTask of taskService.reviewTasks(); track reviewTask.id) {
        <label cdkDrag [cdkDragData]="reviewTask">{{ reviewTask.title }}</label>
        <button type="button" (click)="openEditModal(reviewTask)">✏️</button>
      }
    </div>

    <div
      cdkDropList
      [cdkDropListData]="taskService.doneTasks()"
      (cdkDropListDropped)="drop($event, 'Concluído')"
      class="col"
    >
      <h3>Concluído</h3>
      @for (doneTask of taskService.doneTasks(); track doneTask.id) {
        <label cdkDrag [cdkDragData]="doneTask">{{ doneTask.title }}</label>
        <button type="button" (click)="openEditModal(doneTask)">✏️</button>
      }
    </div>
  </div>
</div>
